// Place all the styles related to the Bases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 拠点情報テーブル */

.base-table {
  vertical-align: middle;
  text-align: center;
}

.btn-delete {
  margin-top: 10px;
}

.btn-edit {
  margin-top: 10px;
}

.btn-add {
  background-color: #f1eeee;
}

.user-edit-area {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}

.new-point-button-area {
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 15px;
}